# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Audio
*.mp3
*.wav

# Misc
.DS_Store
*.pem
